.bg-primary-700{
    background-color: $primary700;
}

.bg-primary-600{
    background-color: $primary600;
}

.bg-primary-500{
    background-color: $primary500;
}

.bg-primary-400{
    background-color: $primary400;
}

.bg-primary-300{
    background-color: $primary300;
}

.bg-primary-200{
    background-color: $primary200;
}

.bg-special-blue{
    background-color: $especialB;
}